Package: grub-numigi-theme
Version: 1.0.1
Maintainer: Lanhild <joliveau.loan@gmail.com>
Architecture: all
Description: GRand Unified Bootloader, version 2 (Numigi theme)
Section: misc
Priority: optional